.not-found {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    .not_found {
      text-align: center;
    }
  
    h1 {
      font-size: 40px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 20px;
      margin-top: 40px;
    }
  }
  
  .data-not {
    width: 100%;
    margin-top: 8px;
    height: 7vh;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: white;
    border: 2px solid rgb(226, 225, 225);
  }
  