@import url("../dashboard/dashboard.scss");

.mainbox {
  background-color: #F7F7F7;
}

// Header SCSS

.header {
  background-color: #fff;
  box-shadow: var(--shadow-one);
  min-height: 60px;
  padding: 4px 10px;
  transition: 350ms;
  border-bottom: 1px solid #E6EAED;

  &.open {
    width: calc(100% - 240px);
    margin-left: 240px;
  }

  &.close {
    width: calc(100% - 60px);
    margin-left: 60px;
  }

  ul {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-right {
    display: flex;
    align-items: center;
    column-gap: 15px;

    .form-select {
      border-color: #dee2e6 !important;
      padding: 10px 32px 10px 12px;
    }
  }

  .navicon {
    width: 30px;
    height: 30px;
    background: #005CDC;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    span {
      cursor: pointer;

      svg {
        width: 19px;
        height: 19px;
        fill: #fff;

        path {
          fill: #fff;
        }
      }
    }
  }

  .admin-drop {
    .dropdown {
      #dropdown-basic {
        display: flex;
        align-items: center;
        color: var(--dark-two);
        font-weight: 500;
        background-color: transparent;
        border: 0;
      }

      span {
        &.img-ic {
          width: 45px;
          height: 45px;
          display: inline-block;
          border-radius: 50%;
          margin-right: 10px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            border: 3px solid #005CDC;
          }
        }
      }
    }

    .dropdown-menu {
      border: 1px solid #E6EAED;
      padding: 0;
      box-shadow: 0px 4px 60px 0px rgba(231, 231, 231, 0.47);
      border-radius: 8px;
      width: 200px;

      .dropdown-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 13px;
        line-height: 24px;
        border-bottom: 1px solid #ebebeb;
        flex-direction: row-reverse;
        padding: 7px 15px;

        &:active {
          background-color: #005CDC;
          color: #fff;
        }

        &:hover {
          background-color: #005CDC;
          color: #fff;
        }

        svg {
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}

// Sidebar SCSS

.sidebarmain {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  min-height: 100vh;
 background: linear-gradient(180deg,rgba(0, 113, 244, 1) 0%, rgba(0, 92, 220, 1) 0%);
  color: #fff !important;
  transition: 350ms;
  z-index: 1001;
  border-right: 1px solid #E6EAED;

  &.close {
    .admin-logo {
      &.navbar-brand {
        width: 60px !important;

      }
    }
  }

  &.open {
    margin-left: 0px;

    .admin-logo {
      .full-logo {
        display: block;
      }

      .small-logo {
        display: none;
      }
    }
  }

  &.close {
    margin-left: 0px;
    width: 60px;
    left: 0;

    .admin-logo {
       transition: 350ms;
      .full-logo {
        display: none;
      }

      .small-logo {
        display: block;
        width: 45px;
  object-fit: contain;
      }
    }
  }

  .admin-logo {
    text-align: center;
    margin: 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(248, 244, 244, 0.3);
    background: #fff;
    img {
      height: 69px;
      object-fit: cover;
      margin: 0 auto;
      display: block;
      padding: 5px 0;
    }
  }

  .sidelist {
    height: calc(100vh - 80px);
    overflow: auto;

    .active-menu {
      background-color: #fff;
      color: #005CDC !important;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
      border-top: 1px solid rgba(248, 244, 244, 0.3);
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      line-height: 24px;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        background-color: #fff;
        color: #005CDC;
      }

      .value {
        display: flex;
        align-items: center;
        column-gap: 5px;
      }

      .icon {
        width: 22px;
        height: 22px;
        background-color: #fff;
        color: #005CDC;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
      }
    }

    .subnav {
      a {
        justify-content: start !important;
        column-gap: 5px;
        padding-left: 30px !important;
      }
    }
  }
}

.sidebarmain {
  &.close {
    a {
      span {
        &.value {
          span {
            display: none;
          }
        }
      }

      &.nav-hover {
        span {
          &.value {
            span {
              display: block;
              position: absolute;
              left: 100%;
              top: auto;
              padding: 10px 15px;
              background-color: #005CDC;
              color: #fff;
              width: 210px;
              z-index: 1001;
            }
          }
        }
      }

      span {
        &.icon {
          display: none;
        }
      }

      display: flex;
      position: relative;
      padding: 13px 15px;
      z-index: 1001;

      svg {
        font-size: 16px;
      }
    }

    .sidelist {
      position: relative;
      height: inherit;
      overflow: unset;
    }

    .subnav {
      background-color: #005CDC;
      z-index: 1001;
      position: absolute;
      left: 100%;
      top: auto;
      width: 210px;

      a {
        padding-left: 15px !important;
        line-height: 16px;
      }
    }
  }
}

.admin-footer {
  transition: 350ms;
  background: #fff;
  padding: 10px;

  &.open {
    width: calc(100% - 240px);
    margin-left: 240px;
  }

  &.close {
    width: calc(100% - 60px);
    margin-left: 60px;
  }

  p {
    font-size: 14px;
    line-height: 24px;

    a {
      color: #0071F4;
    }
  }
}

.sidebarmain {
  .nav-hover {
    background-color: #fff !important;
    color: #005CDC !important;
  }
}

#dropdown-basic {
  box-shadow: unset !important;
}

.sidebarmain.close a.nav-hover span.value span span {
  position: relative !important;
  left: 0 !important;
  width: 100% !important;
}

@media (max-width: 991px) {
  .sidebarmain.close .subnav {
    width: 0;
  }

  .section-title span {
    font-size: 17px;
  }

  .header {
    &.close {
      width: calc(100% - 0px);
      margin-left: 0px;
    }
  }

  .sidebarmain {
    &.close {
      width: auto;
      left: -50%;
    }
  }

  .body-content {
    &.close {
      margin-left: 0;
      width: calc(100% - 0px);
    }
  }
}

/* Highlighting the active menu */
.subnav a.active {
  background-color: #fff;
  /* Change this to your desired active background color */
  color: #005CDC !important;
}

a.active-menu {
  background-color: #fff;
  /* Change this to your desired active background color */
  color: #005CDC !important;
  /* Change this to your desired active text color */
}

.sidebar-link-wrapper.collapsed {
  position: relative;

  .hover-title {
    display: block;
    position: absolute;
    top: 0;
    left: 60px;
    background: #005CDC;
    color: #fff;
    padding: 10px 15px;
    white-space: nowrap;
    font-weight: 500;
    z-index: 1002;
    min-width: 140px;
    border-radius: 0 4px 4px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .hover-subnav {
    position: absolute;
    top: 0;
    left: 60px;
    background: #005CDC;
    color: #fff;
    min-width: 210px;
    z-index: 1002;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 10px 15px;
      color: #fff;

      svg {
        margin-right: 10px;
      }

      &:hover {
        background-color: #bcbcf1;
        color: #005CDC;
      }

      &.active {
        background-color: #fff !important;
        color: #005CDC !important;
      }
    }
  }
}


.dasboard_header {
    padding: 30px 0px 20px 0;
    text-align: center;
}

.dasboard_header .dasboard_header_img {
    border: 8px solid #fff;
    box-shadow: 0px 0px 10px #3c3c3c38;
    width: 180px;
    height: 180px;
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.dasboard_header .dasboard_header_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}