.breadcrum-main {
    padding: 100px 0;
    position: relative;
    z-index: 999;
    background-image: url(/images/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;

    &::before {
        content: '';
        background-color: rgba(0, 92, 220, 0.77);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .breadcrum-text {
        h1 {
            font-size: 40px;
            line-height: 50px;
            color: #fff;
            font-weight: 600;
            text-transform: capitalize;
        }

        ul {
            li {
                list-style-type: none;
                color: #fff;

                a {
                    color: #fff;
                    text-decoration: none;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}



.contact-box {
    border: 1px solid rgba(229, 229, 229, 0.6980392157);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px; 
    border-radius: 6px;
    margin-bottom: 30px;
    display: flex;
    gap: 20px;
    .contact-icon {        
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #005CDC;

        svg {
            color: #fff;
        }
    }

    .contact-txt {
        h5 {
            font-size: 18px;
            font-weight: 600;
        }

        a {
            display: inline-block;
            color: #646464;
  transition: all 0.3s ease-in-out;
  text-decoration: none;

            &:hover {
                color: #005CDC;
            }
        }
    }
}


.contact-form {
    .contact_form {
        border: 1px solid rgba(229, 229, 229, 0.6980392157);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 35px;
        border-radius: 6px;
    }
    .form-label {
        text-transform: capitalize;
        font-size: 14px;
        line-height: 24px;
    }

    .form-control {
        font-size: 15px;
        line-height: 25px;
        font-weight: 400;
        border-radius: 5px;

        &::placeholder {
            font-size: 15px;
            line-height: 25px;
            text-transform: capitalize;
            font-weight: 400;
        }
    }

    .form-bg {
        border: 1px solid rgba(229, 229, 229, 0.6980392157);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 40px;
        border-radius: 6px;

        .contact-left-img {
            img {
                border-radius: 6px;
            }
        }
    }
}

.map-sec {
    iframe {
        width: 100%;
        height: 480px;
    }
}


.value-txt {
    position: relative;

    &:before {
        content: '';
        background-color: #005CDC;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 53%;
    }

    &::after {
        content: '';
        background-color: #005CDC1A;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
}

.about-img {
    width: 500px;
    height: 500px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }
}

  /* how it works list */
  .how_it_works {
    .step_block{
        ul {
            margin: 40px auto 0px;
            padding: 10px;
            max-width: 1080px;
            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                margin-bottom: 50px;
                .step_text{
                  width: 360px;
                  text-align: right;
                  span {
                    font-weight: 600;
                  }
                  h4 {
                    font-size: 25px;
                    font-weight: 600;
                }
                .app_icon {
                    margin-bottom: 10px;
                    a {
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        border-radius: 100%;
                        background-color: #005cdc;
                        color: #fff;
                        font-size: 20px;
                        text-align: center;
                        line-height: 40px;
                        transition: .4s all;
                    }
                  }
                }
                .step_img {
                 width: 360px;
                 text-align: right;
                 img {
                    max-width: 100%;
                  }
               }


               .step_number {
                background: #0F4795;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                border-radius: 50%;
                 h3 {
                    font-size: 30px;
                    font-weight: 600;
                    color: #fff;
                    z-index: 9;
                    margin-bottom: 0px;
                }

                &:before {
                    position: absolute;
                    content: "";
                    background: #005CDC;
                    background-position-x: 0%;
                    background-position-y: 0%;
                    background-repeat: repeat;
                    background-size: auto;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    left: 10px;
                    top: 10px;
                }
            }

              }
        }
    }
  }

  .how_it_works .step_block ul li:last-child{
    margin-bottom: 0px;
  }
  .how_it_works .step_block ul li::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50px;
      transform: translateX(-50%);
      width: 4px;
      height: calc(100% + 100px);
      background-color: #05335b5e;
  }

  .how_it_works .step_block ul li:first-child::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 14px;
      height: 14px;
      background-color: #005cdc;
      border-radius: 15px;
  }
  
  .how_it_works .step_block ul li:first-child::before {
    top: 0;
  }
  
  .how_it_works .step_block ul li:last-child::before {
    height: 50%;
    top: 0;
    background-color: #0000;
  }
  

  .how_it_works .step_block ul li:nth-child(2) {
    flex-direction: row-reverse;
  }
  
  .how_it_works .step_block ul li:nth-child(2) .step_text,
  .how_it_works .step_block ul li:nth-child(2) .step_img {
    text-align: left;
  }
  

