/* CSS for loader and page not found styles */

.maindiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: #0000005e;
  top: 0;
  left: 0;
}

.maindiv .logoname {
  width: 190px;
}

.maindiv .loadericon {
  position: relative;
  height: 100px;
  width: 100px;
  margin: auto;
}

.maindiv .loadericon .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.maindiv .loadericon .icon img {
  width: 50px;
}

.maindiv .loadericon .outerCircle {
  background-color: transparent;
  border: 3px solid #005CDC;
  opacity: 0.9;
  border-left: 3px solid var(--primary-color);
  border-radius: 50%;
  top: 0;
  width: 93px;
  height: 93px;
  margin: 0 auto;
  position: relative;
  animation: spinoffPulse 3s infinite linear;
}

/* Keyframes for the spinner animation */
@keyframes spinoffPulse {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Page not found styles */

.found {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.found-btn {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.data-not {
  width: 100%;
  height: 7vh;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}